/talkieai-server/.env
/talkieai-uniapp/package-lock.json
/talkieai-uniapp/node_modules/
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/en_practice.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
