/talkieai-server/.env
/talkieai-uniapp/package-lock.json
/talkieai-uniapp/node_modules/
/.idea/
talkieai-server/app/
talkieai-uniapp/dist/
talkieai-server/None/
talkieai-server/.idea/dataSources.xml
talkieai-server/.idea/misc.xml
talkieai-server/.idea/modules.xml
talkieai-server/.idea/talkieai-server.iml
talkieai-server/.idea/vcs.xml
talkieai-server/.idea/inspectionProfiles/profiles_settings.xml
talkieai-server/.idea/
.DS_Store
talkieai-server/logs/
talkieai-server/logs/copilot_data_sync_svr.log
talkieai-server/logs/copilot_data_sync_svr.log
